{% extends template.self %}

{% block head %}
    {{ super() }}
<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Titillium+Web" rel="stylesheet">
{% endblock %}

{% block body %}
    {{ super() }}
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
{% endblock %}
