@import url("forest.css");

.book.font-family-1 {
   font-family: 'Titillium Web', sans-serif;
}

blockquote.alert>strong {
    float: right;
    margin: 0;
    vertical-align: middle;
    padding-top: 1em;
}

p>img {
    width: 100%;
}

.book-summary {
    font-family: 'IBM Plex Mono', monospace;
}

pre>code>div.chroma>pre, pre>code>div.highlight>pre.chroma, pre, pre.chroma {
    font-family: 'IBM Plex Mono', monospace;
    line-height: 1.2;
    padding: 0;
    margin: 0;
}

.markdown-section code, .markdown-section pre, section pre {
    font-family: 'IBM Plex Mono', monospace;
    padding: .3em;
    overflow-y: none;
}

div.source_title {
    font-family: 'IBM Plex Mono', monospace;
    text-align: right;
    width: 100%;
    font-weight: 800;
    font-size: 120%;
}

span.edgeLabel:not(:empty) {
    padding: .5em;
}

h1, h2, h3, h4, h5 {
    font-family: 'IBM Plex Mono', monospace;
}

span.hl {
    font-weight: 600;
}
